<!DOCTYPE html>

<html>
    <head>
        <title>RazorProject</title>
    </head>
    <body>
        <header>
            <partial name="Shared/_NavMenu" />
        </header>
        <main>
            @RenderBody()
        </main>
    </body>
</html>